
.loader {
    width: 85px;
    height: 25px;
    --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l8 1s infinite;
    
  }
  @keyframes l8 {
    0%   {background-size:25px 100%,25px 100%,25px 100%}
    20%  {background-size:25px 50% ,25px 100%,25px 100%}
    40%  {background-size:25px 50% ,25px 50% ,25px 100%}
    60%  {background-size:25px 100%,25px 50% ,25px 50% }
    80%  {background-size:25px 100%,25px 100%,25px 50% }
    100% {background-size:25px 100%,25px 100%,25px 100%}
  }
  #lod{
     height: 100%;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }